<div class="main">
    <div class="logo">
        <h1>Blimey</h1>
    </div>

    <div class="head">
        <h1>THANK YOU!</h1>
    </div>

    <div class="desc">
        <p>We are getting started on your order right away and you will receive
           an order confirmation email shortly on {{data.email}}. In the mean
           time, explore the latest baby products and get inspired by our new catalogue
           of products.
        </p>
    </div>

    <div class="button">
        <button>view order</button>
    </div>

    <div class="btn">
        <a routerLink="">Read about our return policy.</a>
    </div>
</div>