<div class="main">
    <div class="top">
        <div class="container">
            <div class="left">
                <div class="small">
                    <h1>Smart edu</h1>
                </div>

                <div class="title">
                    <h1>Your AI Powered E-learning Platform</h1>
                </div>

                <div class="desc">
                    <p>Embark on a personalised AI powered learning journey</p>
                </div>

                <div class="button">
                    <button routerLink="/welcome">Start now</button>
                </div>
            </div>

            <div class="right">
                <div class="card">
                    <div class="pic">
                        <img src="../../../../assets/learn.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why">
        <div class="why-cont">
            <div class="choose">
                <div class="big">
                    <div class="small">
                        <h1>Why choose us</h1>
                    </div>

                    <div class="big-big">
                        <h1>Why choose us for your learning journey?</h1>
                    </div>
                </div>

                <div class="big-small">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </span>
                </div>
            </div>

            <div class="cardss">
                <div class="feat">
                    <div class="symb">
                        <i class="fi fi-rr-social-network"></i>
                    </div>

                    <div class="low">
                        <h1>Flexible pricing</h1>
                    </div>

                    <div class="low-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                    </div>
                </div>

                <div class="feat">
                    <div class="symb">
                        <i class="fi fi-rs-truck-moving"></i>
                    </div>

                    <div class="low">
                        <h1>Fast delivery</h1>
                    </div>

                    <div class="low-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                    </div>
                </div>

                <div class="feat">
                    <div class="symb">
                        <i class="fi fi-rs-star"></i>
                    </div>

                    <div class="low">
                        <h1>Expert guidance</h1>
                    </div>

                    <div class="low-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                    </div>
                </div>

                <div class="feat">
                    <div class="symb">
                        <i class="fi fi-rr-user-headset"></i>
                    </div>

                    <div class="low">
                        <h1>Customer care</h1>
                    </div>

                    <div class="low-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="rev">
        <div class="rev-cont">
            <div class="rev-top">
                <div class="small">
                    <h1>Reviews</h1>
                </div>

                <div class="rev-title">
                    <h1>What students are saying about us</h1>
                </div>

                <div class="rev-desc">
                    <p>At Smartedu, we pride ourselves on creating a learning experience intergrated with AI that students can trust and rely on. Our stidentss consistently rave about our extensive selection of high-quality lessons, and one on one educative learning experience.</p>
                </div>
            </div>

            <div class="rev-bottom">
                <div class="rev-card">
                    <div class="star">
                        <div class="pics">
                            <img src="../../../../assets/nopfp.png" alt="">
                        </div>

                        <div class="names">
                            <h1>John Thuku</h1>

                            <div class="rating">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="actual">
                        <p>Super impressed with the prices and quality! I got everything I needed for my baby at a great price, and the website was so easy to use.</p>
                    </div>

                    <div class="date">
                        <span>9-27-2024</span>
                    </div>
                </div>

                <div class="rev-card">
                    <div class="star">
                        <div class="pics">
                            <img src="../../../../assets/nopfp.png" alt="">
                        </div>

                        <div class="names">
                            <h1>Faith Nyambura</h1>

                            <div class="rating">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="actual">
                        <p>I couldn’t be happier with my experience shopping here! The customer service was so friendly and helpful, and they answered all my questions quickly.</p>
                    </div>

                    <div class="date">
                        <span>10-1-2024</span>
                    </div>
                </div>

                <div class="rev-card">
                    <div class="star">
                        <div class="pics">
                            <img src="../../../../assets/nopfp.png" alt="">
                        </div>

                        <div class="names">
                            <h1>Hope Nyakundi</h1>

                            <div class="rating">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="actual">
                        <p>My items arrived in perfect condition, and the packaging was adorable. You can tell they really care about their customers!</p>
                    </div>

                    <div class="date">
                        <span>10-4-2024</span>
                    </div>
                </div>

                <div class="rev-card">
                    <div class="star">
                        <div class="pics">
                            <img src="../../../../assets/nopfp.png" alt="">
                        </div>

                        <div class="names">
                            <h1>Jane Susan</h1>

                            <div class="rating">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="actual">
                        <p>This shop is my go-to for baby items now! The prices are unbeatable, and the products are such good quality. Plus, their customer service team is top-notch</p>
                    </div>

                    <div class="date">
                        <span>10-4-2024</span>
                    </div>
                </div>

                <div class="rev-card">
                    <div class="star">
                        <div class="pics">
                            <img src="../../../../assets/nopfp.png" alt="">
                        </div>

                        <div class="names">
                            <h1>Esther Kwinga</h1>

                            <div class="rating">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="actual">
                        <p>I had a great experience shopping at this baby shop! The selection of products is fantastic, and I found everything I needed for my little one.</p>
                    </div>

                    <div class="date">
                        <span>10-3-2024</span>
                    </div>
                </div>

                <div class="rev-card">
                    <div class="star">
                        <div class="pics">
                            <img src="../../../../assets/nopfp.png" alt="">
                        </div>

                        <div class="names">
                            <h1>Grace Atieno</h1>

                            <div class="rating">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="actual">
                        <p>My order arrived beautifully packaged and right on time. Plus, the little thank-you note inside was such a nice touch! This shop has officially become my favorite place</p>
                    </div>

                    <div class="date">
                        <span>9-30-2024</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>