<div class="main">
    <div class="banner">
        <div class="page-title">
            <h1>dashboard</h1>
        </div>
    
        <div class="routes">
            <a routerLink="">Admin</a>
            <span>></span>
            <a routerLink="Dashboard">Dashboard</a>
        </div>
    </div>

    <div class="section">
        <div class="top">
            <div class="top-left">
                <div class="statistics">
                    <div class="sales-cards">
                        <div class="sales-card-top">
                            <div class="sales-card-top-left">
                                <p>Courses in Progress</p>
                                <span>1</span>
                            </div>

                            <div class="sales-card-top-right">
                                <i class="fi fi-rr-coins"></i>
                            </div>
                        </div>

                        <div class="sales-card-bottom">
                            <span>-2.4%</span>
                            <p>performance</p>
                        </div>
                    </div>

                    <div class="sales-cards">
                        <div class="sales-card-top">
                            <div class="sales-card-top-left">
                                <p>Courses Completed</p>
                                <span>0</span>
                            </div>

                            <div class="sales-card-top-right">
                                <i class="fi fi-rr-usd-circle"></i>
                            </div>
                        </div>

                        <div class="sales-card-bottom">
                            <span>-2.4%</span>
                            <p>from previous month</p>
                        </div>
                    </div>

                    <div class="sales-cards">
                        <div class="sales-card-top">
                            <div class="sales-card-top-left">
                                <p>classes attended</p>
                                <span>79</span>
                            </div>

                            <div class="sales-card-top-right">
                                <i class="fi fi-rr-sack-dollar"></i>
                            </div>
                        </div>

                        <div class="sales-card-bottom">
                            <span>-2.4%</span>
                            <p>from previous month</p>
                        </div>
                    </div>
                </div>

                <div class="analytics">
                    <div class="analytics-title">
                        <h1>attendance report</h1>
                    </div>

                    <div class="analytics-chart">
                        <div class="chart">
                            <canvas id="canvas">{{chart}}</canvas>
                        </div>
                    </div>
                </div>

                <div class="activity">
                    <div class="activity-left">
                        
                    </div>

                    <div class="activity-right">

                    </div>
                </div>
            </div>

            <div class="top-right">
                <div class="top-right-top">
                    <div class="sales-analytics">
                        <h1>Performance analysis</h1>
                    </div>
    
                    <div class="reports">
                        <div class="chart">
                            <canvas id="sales">{{chart}}</canvas>
                        </div>
                    </div>
                </div>

                <div class="top-right-bottom">
                    <div class="sales-analytics">
                        <h1>Learning reports</h1>
                    </div>
    
                    <div class="comparison">
                        <div class="chart">
                            <canvas id="comparison">{{comparisonChart}}</canvas>
                        </div>

                        <div class="label">
                            <div class="events">
                                <span>weekends</span>
                                <p>70%</p>
                            </div>

                            <div class="events">
                                <span>weekdays</span>
                                <p>30%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
        </div>
    </div>

    <div class="google">
        <div class="gogle">
             
        </div>
    </div>
</div>
