<div class="sub">
    <div class="subcont">
        <h1></h1>

        <div class="no">
            <a href="tel:+254706706445">+254 796 706 445</a>
        </div>
    </div>
</div>

<div class="main" appStickyHeader>
    <div class="cont">
        <div class="header">
            <div class="main-head">
                <div class="left">
                    <div class="logo">
                        <h1>SMARTEDU</h1>
                    </div>
                </div>   
            </div>
    
            <div class="right">
                <div class="links">
                    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    <a routerLink="/shop" routerLinkActive="active" ariaCurrentWhenActive="page">Shop</a>
                    <a routerLink="/orders" routerLinkActive="active" ariaCurrentWhenActive="page">Orders</a>
                </div>

                <div class="icon">
                    <i class="fi fi-tc-user"></i>
                </div>
            </div>
        </div>
    </div>
</div>
