.sub {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 33, 33);
    height: 2.5rem;
}

.phone {
    display: none;
}

.subcont {
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.subcont h1 {
    font-size: 12px;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white; /* Background color when fixed */
    z-index: 100; /* Adjust z-index as needed */
    box-shadow: 0px 15px 10px -15px #b5b5b5;
}

.main.fixed .cont {
    height: 6rem;
    border: none;
}

.cont {
    display: flex;
    height: 6rem;   
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80rem;
}

.links .active {
    text-decoration: underline;
    text-underline-offset: 1rem;
    font-weight: 500;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo {
    height: 3.5rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-right: 2rem;
}

.links a {
    text-decoration: none;
    color: var(--primary-color);
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right .icon i {
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
}

.icon {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.icon i {
    display: flex;
}

.icon a {
    text-decoration: none;
}

.icon p {
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    padding: .2rem .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main-head  {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 3rem;
    width: 20rem;
    font-size: 14px;
    padding: 0 1rem;
    border: 1px solid grey;
    border-radius: .2rem 0 0 .2rem;
}

.search button {
    height: 3rem;
    font-size: 14px;
    padding: 0 2rem;
    text-transform: capitalize;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    border-radius: 0 .2rem .2rem 0;
    cursor: pointer;
}

.logo h1 {
    font-size: 2.5rem;
}

@media screen and (max-width: 450px) {
    .subcont {
        width: 100%;
    }
    .main {
        display: none;
    }

    .no {
        display: none;
    }

    .sub {
        height: 2rem;
        padding: 0 1rem;
    }

    .subcont h1 {
        font-size: 10px;
    }

    .phone {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        height: 3rem;
        border-bottom: 1px solid rgb(205, 205, 205);
    }


    .burger button i {
        display: flex;
    }

    .burger button {
        font-size: 14px;
        border: none;
        background: none;
        padding: 0;
    }

    .icon a {
        font-size: 1rem;
    }

    .icon p {
        display: none;
        font-size: 8px;
        padding: .1rem .2rem;
    }

    .icon {
        gap: .2rem;
    }

    .logo h1 {
        font-size: 1.2rem;
    }
}

